<div class="bg-light text-center p-0">
    <h4 class="filter-title">Filter by Brand</h4>
</div>
<ul class="filter-list " style="list-style: none;">
    <!-- Checkbox inputs for brands -->
    <% if( brands){ %>
        <% brands.forEach((brand)=>{%>
    <li class="filter-item">
        <input type="checkbox" value="<%= brand._id %>" name="brand" id="brand1" class="filter-checkbox">
        <label for="brand1"  class="filter-label"> <%= brand.name %></label> 
        <hr>
    </li>
    <% }) %>
    <%} %>

</ul>