<%-include('include/header')-%>
<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top" style="background-color: #4169E1;">
    <div class="container-fluid">
      <a class="navbar-brand fw-bolder" href="/home">LOOM & LACE</a>
    </div>
  </nav>

  <!-- SIgnup page -->
  <div class="row mt-2">
    <div class="col-12">
      <div class="mb-5">
        <h2 class="display-5 fw-bold text-center">Create Account</h2>
        <p class="text-center mb-2">Already have an account? <a href="/loginpage">Sign in</a></p>
      </div>
    </div>
  </div>
  <form action="/api/signup" method="POST" id="signup">
      <div class="new_user">
          <div class="form-group">
              <div class="row justify-content-center">
                  <div class="col-12 col-lg-10 col-xl-8">
                    <div class="row gy-5 justify-content-center">
                      <div class="col-12 col-lg-5">
                        <div class="col-12">
                          <a href="/auth/google" class="rounded border-black btn btn-light w-100"><img src="/img/google.svg" alt="" width="20px" class="me-2">Signup With Google</a></div><hr>
                          <div class="row gy-3 overflow-hidden">
                            <div class="col-12">
                              <div class="form-floating mb-2">
                                <input type="text" class="form-control border border-bottom rounded-0" name="name" id="name" value="" placeholder="Username" required>
                                <label for="name" class="form-label">Username</label>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating mb-2">
                                <input type="email" class="form-control border border-bottom rounded-0" name="email" id="email" value="" placeholder="Email" required>
                                <label for="email" class="form-label">Email</label>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="form-floating mb-2">
                                <input type="password" class="form-control border border-bottom rounded-0" name="password" id="password" value="" placeholder="Password" required>
                                <label for="password" class="form-label">Password</label>
                                <div class="form-check mt-2">
                                    <input class="form-check-input" type="checkbox" id="showPassword">
                                    <label class="form-check-label" for="showPassword">Show password</label>
                                </div>
                            </div>
                            </div>
                            <div class="col-12">
                              <div class="form-group d-inline-flex">
                               <label for="gender" class="text-dark">Gender :</label>
                               <div class="radio ms-2">
                                <input type="radio" id="radio2" name="gender" value="Male">
                                <label for="gender" class="text-dark">Male</label>
                               </div>
                               <div class="radio ms-2">
                                <input type="radio" id="radio3" name="gender" value="Female">
                                <label for="gender" class="text-dark">Female</label>
                               </div>
                              </div>
                            </div>
                            <div class="col-12">
                              <div class="d-grid">
                                <button class="btn btn-primary btn-lg mt-3" type="submit">Submit</button>
                              </div>
                            </div>
                            <div class="col-12"><p class="text-center text-danger"><%=message%></p></div>
                          </div>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
      </div>
     
  </form>
  <script>
    const passwordInput = document.getElementById('password');
    const showPasswordCheckbox = document.getElementById('showPassword');

    showPasswordCheckbox.addEventListener('change', () => {
        passwordInput.type = showPasswordCheckbox.checked ? 'text' : 'password';
    });
  </script>

<%-include('include/footer')-%>