<nav class="navbar navbar-expand-lg navbar-light shadow border-1 sticky-top pt-4" style="background-color: rgb(171, 171, 171);">
    <div class="container-fluid">
      <a class="navbar-brand fw-bolderS" href="/home"><img src="/img/loomblack.png" width="160px"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
          <li class="nav-item ms-5">
            <a class="nav-text text-decoration-none" aria-current="page" href="/home">Shop</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-text text-decoration-none" aria-current="page" href="/menrelated">Men</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-text text-decoration-none" href="/womenrelated">Women</a>
          </li>
          <li class="nav-item ms-5">
            <a class="nav-text text-decoration-none" href="/kidsrelated">Kids</a>
          </li>
        </ul>
        <form class="d-flex align-self-center me-5">
          <input class="form-control me-2" type="search" size="50" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-secondary" type="submit">Search</button>
        </form>
        <ul class="navbar-nav mx-5 mb-2 mb-lg-0 bg-transparent">
          <% if (!userToken) { %>
            <!-- Show the content only if the token is present -->
            <li class="nav-item">
                <a class="nav-link text-decoration-none" href="/loginpage"><i class="fa-solid fa-user-plus"></i></a>
            </li>
        <% } %>
        <% if (userToken) { %>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="fa-solid fa-heart"></i></a>
              </li>
         <% } %>
         <% if (userToken) { %>
              <li class="nav-item">
                <a class="nav-link" href="/cart"><i class="fa-solid fa-cart-shopping"></i></a>
              </li>
       <% } %>
       <% if (userToken) { %>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item text-end" href="#"><%= user.name%></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/useraccount"><i class="fa-regular fa-circle-user me-3"></i>Account</a></li>
                <li><a class="dropdown-item" href="/userorders"><i class="fa-solid fa-map-location-dot me-3"></i>My Orders</a></li>
                <li><a class="dropdown-item" href="/useraddress"><i class="fa-regular fa-rectangle-list me-3"></i>My Addresses</a></li>
                <li><a class="dropdown-item" href="/logout"><i class="fa-solid fa-power-off me-3"></i>Logout</a></li>
                
            </ul>
        </li>        
        
         <% } %>
         
            </ul>
      </div>
    </div>
  </nav>
  