<div class="userFooter mt-5 ">
    <div class="row"><div class="col-12 w-100 h-10 bg-black">5</div></div>
    <div class="footer-area mb-0 pt-4 border border-4 border-top" style="background-color: rgb(245, 239, 239);">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4 class="footer-headingm">LOOM & LACE</h4>
                    <div class="footer-underline"></div>
                    <p>
                        "LOOM & LACE: Where style meets diversity. Explore our curated collection for men, women,
                         and kids, blending timeless classics with the latest trends. Stay ahead of the curve with
                          our fashion-forward pieces, crafted to express your unique personality effortlessly."
                    </p>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading font-italic">Quick Links</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="/home" class="text-dark">Home</a></div>
                    <div class="mb-2"><a href="" class="text-dark">About Us</a></div>
                    <div class="mb-2"><a href="" class="text-dark">Contact Us</a></div>
                    <div class="mb-2"><a href="" class="text-dark">Blogs</a></div>
                    <div class="mb-2"><a href="/paymentpolicies" class="text-dark">Payment Policy</a></div>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Shop Now</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2"><a href="/shopfilter" class="text-dark">Collections</a></div>
                    <div class="mb-2"><a href="" class="text-dark">Trending Products</a></div>
                    <div class="mb-2"><a href="" class="text-dark">New Arrivals Products</a></div>
                    <div class="mb-2"><a href="" class="text-dark">Featured Products</a></div>
                    <% if (userToken) { %><div class="mb-2"><a href="/cart" class="text-dark">Cart</a></div><% } %>
                </div>
                <div class="col-md-3">
                    <h4 class="footer-heading">Reach Us</h4>
                    <div class="footer-underline"></div>
                    <div class="mb-2">
                        <p>
                            <i class="fa fa-map-marker"></i> #123, main road, area, street, Kollam, india - 691305
                        </p>
                    </div>
                    <div class="mb-2">
                        <a href="" class="text-dark">
                            <i class="fa fa-phone"></i> +91 999-xxx-xxxx
                        </a>
                    </div>
                    <div class="mb-2">
                        <a href="" class="text-dark">
                            <i class="fa fa-envelope"></i> loomandlace@gmail.com
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area" style="background-color: #d5c18a;">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="text-dark"> &copy; 2023- Loom&Lace- Ecommerce. All rights reserved.</p>
                </div>
                <div class="col-md-4">
                    <div class="social-media">
                        Get Connected:
                        <a href="" class="ms-3"><i class="fa-brands fa-square-facebook"></i></a>
                        <a href="" class="ms-3"><i class="fa-brands fa-x-twitter text-dark"></i></a>
                        <a href="" class="ms-3"><i class="fa-brands fa-instagram"></i></a>
                        <a href="" class="ms-3"><i class="fa-brands fa-youtube text-danger"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>